<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" thread-count="4"
	parallel="true">
	<test thread-count="3" name="Test1">
		<classes>
			<class name="testcases.Question1" />
			<class name="testcases.Question2" />
			<class name="testcases.Question3" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->